<div *ngIf="isLogin">
        <div id="title">
          <div class="log">
            <img src="./assets/img/admin.png" class="img-responsive"/>
            <p>欢迎 {{loginInfo.uname}} 的到来！</p>
          </div>
          <div>
            <button type="button" (click)="logout()" class="btn btn-danger">退出</button>
            <button type="button" class="btn btn-warning">修改密码</button>
          </div>
        </div>
        <div class="content">
        <nav id="nav" >
            <app-nav [treelists]="links" class="navtree"></app-nav>
        </nav>
        <div>
          <router-outlet></router-outlet>
        </div>
        </div>
</div>
<div id="login" *ngIf="!isLogin">
    <div>
      <h4 class="text-center">登录</h4>
      <p class="text-center">账号密码不能为空</p>
      <form class="f">
         <div class="form-group">
          <label for="uname">用户名：</label>
          <input type="text" [(ngModel)]="loginInfo.uname" name="uname" autofocus class="form-control" id="uname" placeholder="请输入用户名">
        </div>
        <div class="form-group">
          <label for="psw">密 码：</label>
          <input type="password" [(ngModel)]="loginInfo.psw" name="psw" class="form-control" id="psw" placeholder="请输入密码">
        </div>
        <div class="form-group">
          <label for="code">验证码：</label>
          <input type="text" [(ngModel)]="loginInfo.code" name="code" class="form-control" id="code" placeholder="请输入验证码">
        </div>
        <div class="form-group">
          <input type="button" (click)="login()" class="btn btn-block btn-success" name="login" value="登 录" id="log">
        </div>
      </form>
    </div>
</div>