.content{
  display:flex;
  height:100%;
}
.content>div{
  flex-grow: 1;
  /*background:#088;*/
  padding-left:2px;
  border:1px solid #ddd;
  border-bottom: none;
}
.content #nav{
   margin-left:1em;
}
#nav{
   background-color:#324157;
   min-width:12%;
   padding-top:2em;
}
/*#nav .navtree> ul>li{
  line-height: 2;
  border-bottom:1px solid #eee;
}
#nav .navtree> ul>li>a{
  font-size: 1.2em;
  padding:4px 8px;
  background:#324157;
}
#nav .navtree> ul>li li a{
  font-size: 1.1em;
  background: #1F2D3D;
  padding:0 1em 0 2em;
  line-height: 2;
}
#nav .navtree> ul>li li li a{
  font-size: 1em;
  background: #1F2D3D;
  padding:0 1em 0 4em;
  line-height: 2;
}
#nav .navtree> ul>li>a:hover,#nav .navtree> ul>li li a:hover,#nav .navtree> ul>li li li a:hover,#nav .navtree> ul>li li a.active{
  background: #20A0FF;
  color:#fff;
}
#nav .navtree> a{
  color:#BFCBD9;
  display:inline-block;
  width:100%;
  box-sizing: border-box;
}*/
#title{
  display:flex;
  padding:5px 10px;
  align-items: center;
}
#title>.log{
  display:flex;
  align-items: center;
  flex-grow: 1;
}
.log p{
  font-size:1.5em;
}
.log>img{
  width:4em;
  height:4em;
}

#login{
  /*position: relative;*/
  display: flex;
  width:100%;
  height:100%;
  color:#fff;
  align-items: center;
  justify-content: center;
  background:url('../assets/img/login-bg.jpg') no-repeat fixed 50%;
    background-size: 100% 100%;
}
#login>img{
  width:100%;
  height:100%;
}
#login>div{
  background:rgba(146,150,155,.3);
  /*position: absolute;*/
  width:60%;
  padding:4% 5% 5%;
  margin:15%;
  border-radius: 8px;
  border:1px solid #AFAFAC;
}
#login>div>form{
  width:80%;
  margin:10px auto;
}
#login h4{
  font-size:1.6em;
}
#login>div>form input.form-control{
  background: transparent;
  padding:6% 2%;
  color:#fff;
  font-size:1.2em;
  /*border-color:#fff;*/
}
#login>div>form input.for-control:hover,#login>div>form input.for-control:focus{
      border: 1px solid #58b7ff;
}
#login>div>form input.btn{
  background: #8BBC68;
  padding:4%;
  font-size:1.2em;
}

