<!-- <div echarts [options] = "chartOption"   style="height: 400px; width: 100%" class="demo-chart"></div> --> 
   <!--  <div echarts [options] = "Baroptions" [loading]="showloading" style="height: 264px; width: 100%" class="demo-chart"></div> -->
    <div echarts [options] = "linkoption"   style="height: 400px; width: 100%" class="demo-chart"></div>
   <!--  <div echarts [options] = "mapoption" [loading]="showloading" style="height: 264px; width: 100%" class="demo-chart"></div> -->
<!--  <div echarts class="demo-chart" [options]="chartOptions" (chartInit)="onChartInit($event)"></div> -->
	<!-- <div>{{info.link_title}}{{info.x_data}}</div> -->